<html>
  <head>
    <title><%= @name %></title>
  </head>
  <body>
    <h2><%= @name %></h2>
    <div id="bio">
      <p>Email: <%= @email %></p>
      <p>Interests: <%= format_interests(@interests) %></p>
    </div>
    <br>
    <br>
    <div id="other_users">
      <p><em>Other users:</em> <%= links_to_others(@user) %></p>
    </div>